.card {
    display: grid;
    place-items: center center;
    color: var(--main-colour);
    text-align: center;
}
.grid .card {
    max-width: 40vw;
    width: 200px;
}
.bar .card {
    width: 80vw;
    max-width: 1200px;
    margin-bottom: 24px;
}
.card__heading {
    cursor: pointer;
}
.grid .card__heading {
    position: relative;
    display: grid;
    place-items: start center;
    width: 100%;
}
.grid .card__heading::before {
    position: absolute;
    content: '';
    background: url(../../images/cardgridheaderbg.svg) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.bar .card__heading {
    position: relative;
    display: grid;
    place-items: center center;
    width: 100%;
}
.bar .card__heading::before {
    position: absolute;
    content: '';
    background: url(../../images/cardheaderbarbg.svg) no-repeat;
    background-size: 100% 100%;
    width: 80vw;
    max-width: 1200px;
    height: 18px;
}
.card__heading__title {
    background: var(--main-bg-colour);
    z-index: 100;
    max-width: 80%;
}
.dark .card__heading__title {
    background: var(--dark-bg-colour);
}
.grid .card__heading__title {
    margin-top: 24px;
}
.bar .card__heading__title {
    margin-top: -16px;
} 
.card__text {
    margin-top: 0;
    text-align: left;
    word-break: break-all;
}
.bar .card__text {
    width: 85%;
}
.card__collection-button {
    position: absolute;
    left: 5px;
    top: calc(50% - 7px);
}
.card__collection-button--add {
    visibility: hidden;
}
.card__heading:hover .card__collection-button--add { 
    visibility: visible;
}
@media only screen and (max-width: 640px) { 
    .grid .card__heading {
        font-size: 4vw;
    }
    .grid .card__heading__title {
        margin-top: 4vw;
    }
}