.footer {
    width: 100%;
    height: 120px;
    margin-top: 200px;
    padding-bottom: 24px;
    background-color: var(--main-colour);
    display: grid;
    place-items: center center;
    place-self: end center;
}
.github-link {
    width: 192px;
    height: 64px;
    display: grid;
    place-items: center center;
    grid-template-columns: 64px 64px 64px;
    gap: 12px;
    text-decoration: none;
    font-size: 14px;
    color: var(--main-bg-colour);
}
.dark .github-link {
    color: var(--dark-bg-colour);
}
.github-logo--light, .dark .github-logo--dark {
    display: block;
}
.dark .github-logo--light, .github-logo--dark {
    display: none;
}
.github-link__left-text {
    text-align: right;
}
.github-link__right-text {
    text-align: left;
}