.pageHeader {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
    place-self: start center;
    height: 120px;
    z-index: 300;
    background: var(--main-bg-colour);
}
.dark .pageHeader {
    background: var(--dark-bg-colour);
}
.pageHeader__logo {
    place-self: center center;
    width: 45vw;
    margin-left: 5vw;
    max-width: 320px;
}
.pageHeader__logo--condensed {
    display: none;
}
.pageHeader__menu {
    place-self: center end;
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: repeat(3, 1fr);
    transform: translateX(calc(50vw - 150px));
}
.pageHeader__link {
    margin-top: 6px;
    border: 1px solid var(--main-colour);
    border-left: none;
    position: relative;
    height: 22px;
    transition: transform 0.5s;
    text-decoration: none;
    color: var(--main-colour);
}
.pageHeader__link::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -11px;
    border-left: 5px solid var(--main-colour);
    border-right: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}
.pageHeader__link--active, .pageHeader__link:hover {
    transform: translateX(-10vw);
}
@media only screen and (max-width: 640px) { 
    .pageHeader__logo {
        display: none;
    }
    .pageHeader__logo--condensed {
        display: block;
        margin-left: 5vw;
        place-self: center center;
        width: 200px;
        max-width: 50vw;
    }
    .pageHeader__menu {
        
        transform: translateX(18vw);
    }
}