.app {
  display: grid;
  place-items: center center;
  grid-template-rows: 120px 200px auto;
  min-height: 100vh;
  background: var(--main-bg-colour);
}
.app.dark {
  background: var(--dark-bg-colour);
}

.clickable {
  cursor: pointer;
}
